<!-- About section -->
<section id="about" class="section-light">
    <div class="container container-about">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12">
                <h2>日本画家 和田真理子</h2>
                <p>道端にある草花でも、それぞれ生きるために必要な美しい姿をしています。存在することに無意味なものはなく、全てが尊いものであると思っています。生まれてくる命の奇跡とそこにある希望に願いを込めて、作品を制作しています。</p>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                <img src="/assets/img/mariko_wada-profile.jpg" alt="日本画家 和田真理子" style="width:100%;">
            </div>
        </div>
    </div>
</section>