<footer class="section-light container-footer">
        <div class="container text-center">
                &copy; 2018-2024 和田真理子.  All rights reserved.
        </div>
        {% comment %}<div class="container text-center">
                {% case page.language %}
                        {% when 'ja' %}
                                Language: <strong>日本語</strong> | <a href="/en">English</a>
                        {% when 'en' %}
                                Language: <a href="/">日本語</a> | <strong>English</strong>
                {% endcase %}
        </div>{% endcomment %}
</footer>
