<footer class="section-light container-footer">
        <div class="container text-center">
                &copy; 2018-2019 和田真理子.  All rights reserved. | <a href="https://www.facebook.com/wmariko/" title="和田真理子 Facebookページ" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </div>
        <div class="container text-center">
                {% case page.language %}
                        {% when 'ja' %}
                                Language: 日本語 | <a href="/en">English</a>
                        {% when 'en' %}
                                Language: <a href="/">日本語</a> | English
                {% endcase %}
        </div>
</footer>
