<!-- Gallery section -->
<section id="gallery" class="section-dark">
    <div class="container container-gallery">
        <h2>ARTWORK</h2>
            <div class="row">
                {% for image in site.gallery %} <!-- Add image files to /img/gallery, and *.md files to /_gallery. The largest size (at one column at the smallest breakpoint) is 545px width. -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        
                            <img class="galleryimg" src="{{ image.src }}" alt="{{ image.alt }}">
                            <div class="gallerytext">{{ image.content }}</div>
                        
                    </div>
                {% endfor %}
            </div>
    </div>
</section>