<!-- News section -->
<section id="news" class="section-dark jarallax" data-jarallax data-type="scroll">
    <div class="container container-news">

        <h2>PROFILE</h2>

          <div class="container mb-5">
            <div class="row border-bottom border-dark">
              <div class="col-md-2 col-sm-3 posteventheader">
                1987
              </div>
              <div class="col posteventdetail">
                愛知県生まれ
              </div>
            </div>

            <div class="row border-bottom border-dark">
              <div class="col-md-2 col-sm-3 posteventheader">
                2006
              </div>
              <div class="col posteventdetail">
                愛知県立旭丘高等学校美術科 卒
              </div>
            </div>

            <div class="row border-bottom border-dark">
              <div class="col-md-2 col-sm-3 posteventheader">
                2012
              </div>
              <div class="col posteventdetail">
                東京藝術大学美術学部絵画科日本画専攻 卒
              </div>
            </div>

            <div class="row border-bottom border-dark">
              <div class="col-md-2 col-sm-3 posteventheader">
                2013
              </div>
              <div class="col posteventdetail">
                第68回春の院展 入選<br>第98回再興院展 入選
              </div>
            </div>

            <div class="row border-bottom border-dark">
              <div class="col-md-2 col-sm-3 posteventheader">
                現在
              </div>
              <div class="col posteventdetail">
                百貨店を中心に毎年グループ展等に参加させていただいております
              </div>
            </div>
          </div>

            {% for post in site.posts limit:1 %} <!-- To add news item, create a new *.md file in _news named with the date in yyyy-mm-dd format. Don't make two posts on the same day. -->
                {{ post.content }}
                <small>更新 {{ post.date | date: "%Y年%m月%d日" }}</small>
            {% endfor %}
            <span class="row justify-content-center"><a href="/news.html" class="btn btn-outline-light" style="color:white;">その他ニュースを見る</a></span>
    </div>
</section>