<!-- News section -->
<section id="news" class="section-dark jarallax" data-jarallax data-type="scroll">
    <div class="container container-news">
        {% case page.language %}
        {% when 'ja' %}
        <h2>履歴</h2>

        <div class="container mb-5">
          <div class="row border-bottom border-dark">
            <div class="col-md-2 col-sm-3 posteventheader">
              2014年11月
            </div>
            <div class="col posteventdetail">
              wadamariko.com 公式サイトを開設いたしました。
            </div>
          </div>

          <div class="row border-bottom border-dark">
            <div class="col-md-2 col-sm-3 posteventheader">
              2015年1月
            </div>
            <div class="col posteventdetail">
              <a href="https://www.facebook.com/wmariko/" title="和田真理子 Facebookページ" target="_blank">Facebookページを開設いたしました。</a>
            </div>
          </div>

          <div class="row border-bottom border-dark">
            <div class="col-md-2 col-sm-3 posteventheader">
              2018年8月
            </div>
            <div class="col posteventdetail">
              当サイトをリニューアルいたしました。
            </div>
          </div>
        </div>
        {% when 'en' %}
        {% endcase %}
            {% for post in site.posts limit:1 %} <!-- To add news item, create a new *.md file in _news named with the date in yyyy-mm-dd format. Don't make two posts on the same day. -->
                {{ post.content }}
                <small>更新 {{ post.date | date: "%Y年%m月%d日" }}</small>
            {% endfor %}
            <span class="row justify-content-center"><a href="/news.html" class="btn btn-outline-light" style="color:white;">その他ニュースを見る</a></span>
    </div>
</section>