<!-- Profile section -->
<section id="profile" class="section-light">
    <div class="container container-profile">

        {% case page.language %}
        {% when 'ja' %}
        <h2>履歴</h2>

        <div class="container mb-5">
          <div class="row border-bottom border-dark">
            <div class="col-md-2 col-sm-3 posteventheader">
              2014年11月
            </div>
            <div class="col posteventdetail">
              wadamariko.com 公式サイトを開設いたしました。
            </div>
          </div>

          <div class="row border-bottom border-dark">
            <div class="col-md-2 col-sm-3 posteventheader">
              2015年1月
            </div>
            <div class="col posteventdetail">
              <a href="https://s.wadamariko.com/newsfb" title="和田真理子 Facebookページ" target="_blank">Facebook ページを開設いたしました。</a>
            </div>
          </div>

          <div class="row border-bottom border-dark">
            <div class="col-md-2 col-sm-3 posteventheader">
              2018年8月
            </div>
            <div class="col posteventdetail">
              当サイトをリニューアルいたしました。
            </div>
          </div>

          <div class="row border-bottom border-dark">
            <div class="col-md-2 col-sm-3 posteventheader">
              2020年5月
            </div>
            <div class="col posteventdetail">
              <a href="https://s.wadamariko.com/newsig" title="和田真理子 Instagram アカウント" target="_blank">Instagram アカウントを開設いたしました。</a>
            </div>
          </div>

          <div class="row border-bottom border-dark">
            <div class="col-md-2 col-sm-3 posteventheader">
              2021年6月
            </div>
            <div class="col posteventdetail">
              <a href="https://s.wadamariko.com/newsyt" title="和田真理子 YouTube チャンネル" target="_blank">YouTube チャンネルを開設いたしました。</a>
            </div>
          </div>
        </div>
        {% when 'en' %}
        {% endcase %}



        <h2>{% case page.language %}
                {% when 'ja' %}展示会歴
                {% when 'en' %}EXHIBITIONS
            {% endcase %}</h2>
            {% for yearly in site.profile reversed %} {% comment %} Add events in a year to the corresponding _profile/20xx.md file. Add new years by creating a new _profile/20xx.md file. {% endcomment%}
                <h3>{{ yearly.year }}</h3>
                <table class="table eventsection">
                    <tbody>
                        {% for event in yearly.events %}
                            <tr>
                                {% case page.language %}
                                        {% when 'ja' %}
                                        <th scope="row">{% if event.url != null %}<a href="{{ event.url }}" target="_blank">{% endif %}{{ event.title }}{% if event.url != null %}</a>{% endif %}</th>
                                        <td>{{ event.place }}</td>
                                        {% when 'en' %}
                                        <th scope="row">{% if event.url != null %}<a href="{{ event.url }}" target="_blank">{% endif %}{% if event.title-en != null %}{{ event.title-en }}{% else %}{{ event.title }}{% endif %}{% if event.url != null %}</a>{% endif %}</th>
                                        <td>{% if event.place-en != null %}{{ event.place-en }}{% else %}{{ event.place }}{% endif %}</td>
                                {% endcase %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
    </div>
</section>