<!-- Profile section -->
<section id="profile" class="section-light">
    <div class="container container-profile">
        <h2>PROFILE</h2>
            <table class="table eventsection">
                <tbody>
                    {% for profileyear in site.data.profile %}
                    <tr>
                        <th scope="row">{% if page.language == 'en' and profileyear.year-en != null %}{{ profileyear.year-en }}{% else %}{{ profileyear.year }}{% endif %}</th>
                        <td>{% if page.language == 'en' %}{{ profileyear.en }}{% else %}{{ profileyear.ja }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <h2>展示会歴</h2>
            {% for yearly in site.profile %} {% comment %} Add events in a year to the corresponding _profile/20xx.md file. Add new years by creating a new _profile/20xx.md file. {% endcomment%}
                <h3>{{ yearly.year }}</h3>
                <table class="table eventsection">
                    <tbody>
                        {% for event in yearly.events %}
                            <tr>
                                <th scope="row">{% if event.url != null %}<a href="{{ event.url }}" target="_blank">{% endif %}{{ event.title }}{% if event.url != null %}</a>{% endif %}</th>
                                <td>{{ event.place }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
    </div>
</section>