<!doctype html>
{% case page.language %}
{% when 'ja' %}
<html lang="ja">
{% when 'en' %}
<html lang="en">
{% endcase %}
    {% include head.html %}
    <body data-spy="scroll" data-target=".navbar" id="top"> {% comment %} for scrollspy {% endcomment %}
        {% include navbar.html %}
        {% include header.html %}
        {% include about.html %}
        {% include news.html %}
        {% include profile.html %}
        {% include gallery.html %}
        {% include footer.html %}
        {% include js.html %}
    </body>
</html>