<!doctype html>
<html lang="ja">
    {% include head.html %}
    <body data-spy="scroll" data-target=".navbar"> {% comment %} for scrollspy {% endcomment %}
        {% include navbar.html %}
        {% include postheader.html %}
        
        <div class="container">
            <table class="table">
                <tbody>
                    {% for post in site.posts %} <!-- To add news item, create a new *.md file in _news named with the date in yyyy-mm-dd format. Don't make two posts on the same day. -->
                        <tr>
                            <td style="padding-top:100px;">
                                {{ post.content }}
                                <small>更新 {{ post.date | date: "%Y年%m月%d日" }}</small>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        {% include footer.html %}
        {% include js.html %}
    </body>
</html>